.header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background: white;
}

.layout_dark .header,
.header_dark {
  background-color: black;
  border-bottom: 1px solid white;
}

.sticky {
  position: sticky;
  top: 0px;
  z-index: 100;
}

