@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

@mixin font($weight) {
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: $weight;
}

@mixin manrope($weight) {
  font-family: 'Manrope', serif;
  @include font($weight);
}

@mixin inter($weight) {
  font-family: 'Inter', serif;
  @include font($weight);
}

.logo {
  @include manrope(800);
  font-size: 20px;
  letter-spacing: -3.5%;
}
