.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  font-size: 14px;
  z-index: 100;
  padding: 12px;
  border-radius: 8px;
  opacity: 1;
  transition: opacity 1s ease 0s;
}

.layout_dark .tooltip {
  background-color: #fafafa;
  color: #333;
}