.btn {
  background: rgb(198, 198, 237);
  color: white;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 12px;
}

.btn:disabled {
  background: grey;
  opacity: .5;
  cursor: inherit;
}