/* Typography */

.txt-black {
  color: #333;
}

.txt-white {
  color: white;
}

/* Helpers */

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-left-16 {
  margin-left: 16px;
}

.margin-left-8 {
  margin-left: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

/* States */

.modal-open {
  overflow-y: hidden;
}

a {
  text-decoration: none;
}