.card {
  background-color: #f7f7f7;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #00000010;
}

.card h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 15px;
  margin-left: 14px;
}

.category {
  background: #ffffff;
  border-radius: 60px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #666;
  font-size: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}